[project]
	description = Integration scripts for Federated Cloud Information System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Baptiste Grenier (gwarf)
[access "refs/for/refs/*"]
	read = group user/Baptiste Grenier (gwarf)
	push = group user/Baptiste Grenier (gwarf)
	label-Code-Review = -2..+2 group user/Baptiste Grenier (gwarf)
	label-Verified = -1..+1 group user/Baptiste Grenier (gwarf)
	rebase = group user/Baptiste Grenier (gwarf)
	removeReviewer = group user/Baptiste Grenier (gwarf)
	submit = group user/Baptiste Grenier (gwarf)
[access "refs/heads/*"]
	read = group user/Baptiste Grenier (gwarf)
	create = group user/Baptiste Grenier (gwarf)
	push = +force group user/Baptiste Grenier (gwarf)
	pushMerge = group user/Baptiste Grenier (gwarf)
[access "refs/tags/*"]
	push = +force group user/Baptiste Grenier (gwarf)
	pushTag = group user/Baptiste Grenier (gwarf)
	pushSignedTag = group user/Baptiste Grenier (gwarf)
